body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f2b29b;
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 43px 50px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #0d0101;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  overflow: auto;
}

.company-info {
  text-align: center;
}

.company-info img {
  max-width: 200%;
  height: 300px;
}

.info-box {
  background-color: #a62d12;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

.info-box h2 {
  margin-bottom: 10px;
}

.contentTodos {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid #731d09;
  padding: 20px;
  margin: 50px;
  text-align: center;
  max-width: 200px;
  background-color: #f2d3ac;
  color: #fff;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item button {
  background-color: #a63a12;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.contentCarrito {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
}

#carrito-lista {
  margin-bottom: 20px;
}

.item-carrito {
  display: flex;
  align-items: center;
  border: 2px solid #731d09;
  padding: 20px;
  margin: 50px;
  background-color: #b8b8b8;
  color: white;
}

.item-carrito img {
  max-width: 100px;
  height: auto;
  margin-right: 50px;
}

.item-info {
  flex: 1;
}

.item-carrito h3,
.item-carrito p {
  margin: 20px;
  margin-right: 50px;
}

.item-carrito button {
  margin-top: 10px;
  margin-left: auto;
  background-color: #a63a12;
  color: white;
}

#carrito-total {
  font-weight: bold;
}

#carrito-botones button {
  background-color: #a63a12;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#carrito-botones button:hover {
  background-color: #731d09;
}

.redes-sociales-seccion {
  margin-top: 20px;
}

.redes-sociales-seccion h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.redes-sociales-seccion a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.boton-regresar {
  display: inline-block;
  background-color: #731d09;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.boton-regresar:hover{
  background-color: #333;
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px; 
  margin: auto;
  border: 2px solid #731d09;
  padding: 80px 80px;
  background-color: #f2b29b;
}


.formulario-seccion {
  flex: 1;
  padding: 10px 100px; 
  display: flex;
  flex-direction: column;
  border: 2px solid #731d09;
}

.formulario-grupo {
  margin-bottom: 10px;
}

.formulario-grupo label {
  margin-bottom: 5px;
  color: white;
}

.formulario-grupo input,
.formulario-grupo select,
.formulario-grupo textarea {
  width: 100%;
  padding: 12px; 
  box-sizing: border-box;
}

.formulario-grupo button {
  background-color: #a62d12;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end; /
}

.redes-sociales-seccion {
  background-color: #a62d12;
  color: white;
  flex: 1;
  padding: 15px 100px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.contactoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.contactoContent h1 {
  font-size: 20px;
  padding: 15px 100px; 
  margin-bottom: 20px;
  border: 1px solid #731d09;
  color: white;
  background-color: #f2b29b; 
}

.redes-sociales-seccion a {
  margin-bottom: 10px; 
  color: white;
}
